body {
    background: lightcoral;
    margin: 0;
    padding: 0;
}
nav {
    height: 3em;
}
#name {
    font-size: 24px;
    position: relative;
    bottom: 12.3px;
}
header {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    height: auto;
    width: auto;
    transform: translate(-50%, -50%);
}
header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-bottom: 60px;
}
div.container {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    height: auto;
    width: auto;
    transform: translate(-50%, -50%);
    display: flex;
}
.box {
    height: 130px;
    width: 130px;
    background: azure;
    margin: 10px;
    display: inline-block;
    padding: 0;
    border-radius: 15px;
    flex-basis: 30%;
}
span {
    top: 20%;
    left: 40%;
    position: relative;
    font-size: 50px;
    color: #000;
    box-sizing: border-box;
}
div.button {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    height: auto;
    width: auto;
    transform: translate(-50%, -50%);
    display: flex;
}
button {
    clear: both;
    flex-basis: 100%;
    height: 60px;
    width: 400px;
    background: rebeccapurple;
    font-size: 30px;
    color: aliceblue;
    border: none;
    border-radius: 20px;
}
button:hover {
    background: orange;
    color: #000;
    transition: all .2s cubic-bezier(0.475, 0.82, 0.165, 1);
    transform: scale(1.2);
}
#small  {
    position: absolute;
    top: 1000px;
    display: block;
}